{{ partial "header.html" . }}
<article>
  <header>
    <h1 class="text-primary">{{ .Title }}</h1>
    <div class="post-meta clearfix">
      {{ if eq .Section "blog" }}
      <div class="post-date pull-left">
        Posted on
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>
      </div>
      <div class="pull-right">
        {{ range .Params.tags }}
        <span class="post-tag small"><a href="/tags/{{ . | urlize }}">#{{ . }}</a></span>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </header>
  <section>
    {{ .Content }}
  </section>
  <footer>
    {{ if eq .Section "blog" }}
    <ul class="pager">
      {{ if .PrevInSection }}
      <li class="previous"><a href="{{ .PrevInSection.URL }}"><span aria-hidden="true">&larr;</span> Older</a></li>
      {{ else }}
      <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
      {{ end }}
      {{ if .NextInSection }}
      <li class="next"><a href="{{ .NextInSection.URL }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {{ else }}
      <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {{ end }}
    </ul>
    {{ end }}

{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
    <hr/>
<h5>Possibly Related Posts</h5>
<ul>
  {{ range . }}
  <li><a href="{{ .URL }}">{{ .Title }}</a>, from {{ .Date.Format "2006 January" }}</li>
  {{ end }}
</ul>
{{ end }}

    {{ if $.Params.comments }}
    <hr/>
    <div class="feedback small">
      Have <b>feedback on this post</b>? Let me know on <a href="mailto:aras@nesnausk.org">email</a>, <a href="https://mastodon.gamedev.place/@aras">mastodon</a> or <a href="https://twitter.com/aras_p">twitter</a>.
    </div>
    {{ end }}

  </footer>
</article>

{{ partial "footer.html" . }}
