body {
    background-color: #f8f8f8;
    color: #222;
    line-height: 1.5em;
}
main {
    max-width: 1100px;
    word-wrap: break-word;
}

/* Header */

.global-header {
    background-color: #6b80b0;
    background: linear-gradient(#8294bc,#6b80b0,#566da1);
    max-width: 1100px;
}

.header-text {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 1em;
}

.header-text .tag-line {
    margin: 10px auto;
    padding: 0 10px;
    max-width: 430px;
    text-align: center;
    font-weight: 300;
}

a.btn-header {
    display: inline-block;
    padding: 0.1em 0.8em;
    margin: 0;
    border-radius: 0.2em;
    color: #B64926;
    text-decoration: none;
    line-height: 30px;
    color: #1f273a;
}
a.btn-header:hover {
    color: #000000;
    background-color: #8d9fc7;
}

a.btn-header.active {
    background-color: #aeb9d3;
}

a.btn-subscribe {
    float: right;
    position: absolute;
    right: 1em;
}



.header-text .sns-links {
    margin: 20px auto;
    text-align: center;
}

.header-text .sns-links a {
    display: inline-block;
    margin: 0 2px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    transition: color,border-color 0.1s linear;
}

.header-text .sns-links a:hover {
    border-color: rgba(255, 255, 255, 1.0);
    color: rgba(255, 255, 255, 1.0);
}

.header-text h1 {
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    font-weight: 200;
}

.header-text h1 a {
    color: rgba(255, 255, 255, 1.0);
    text-decoration: none;
}

/* Footer */

.global-footer {
    padding-top: 10px;
    max-width: 1100px;
    height: 100px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.4);
}

.global-footer .sns-links {
    float: right;
    line-height: 1.2em;
}

.global-footer .sns-links a {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.4);
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    transition: color,border-color 0.1s linear;
}

.global-footer .sns-links a i {
    vertical-align: middle;
}

.global-footer .sns-links a:hover {
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.7);
}

/* Sidebar */

.sidebar {
    border-left: 1px solid #d8b56e;
    background-color: #e7c683;
    font-size: .8em;
}
.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar li {
    list-style: none;
    margin: 0;
    padding: 0.1em 0;
    border-bottom: 1px solid #d8b56e
}
.sidebar a {
    color: #235580;
}

/* equal height columns trick using CSS3 flexbox layout */
@media (min-width: 992px) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

/* Article */

.article-list h2 a {
    text-decoration: none;
    transition: color 0.1s linear;
}

.post-meta {
    margin: 5px 0;
}

.post-date {
    color: rgba(0, 0, 0, 0.4);
}

.post-tag a {
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    transition: color,border-color,background-color 0.1s linear;
}

.post-tag a:hover {
    background-color: rgba(0, 0, 0, 1.0);
    color: rgba(255, 255, 255, 1.0);
}

.not-found h1 {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 200;
    font-size: 80px;
}

.not-found {
    text-align: center;
}

/* Pagination */

.pagination
{
	width: 720px;
	text-align: center;
}

.older-posts,.newer-posts
{
	display: inline!important;
	border: 1px solid #ddd;
	border-radius: 15px;
	text-decoration: none;
	transition: border .3s ease;
	padding: 5px 14px;
}

.page-number
{
	display: inline-block;
	min-width: 100px;
	padding: 2px 0;
}

.newer-posts
{
	float: right;
}

.older-posts
{
    float: left;
}

.older-posts:hover,.newer-posts:hover
{
	color: #889093;
	border-color: #98a0a4;
}

/* Override some of Bootstrap's styles */

pre {
    font-size: 13px;
    tab-size: 4;
}

pre code {
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}

code {
    padding: 1px 3px;
    font-size: 13px;
    color: #a71e41;
    border-radius: 3px;
}

.pager li>a {
    transition: background-color 0.1s linear;
}

blockquote {
    font-style:italic;
    font-size: 17px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 5px solid #ddd;
    padding: 3px 20px 10px 20px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}

article section img {
    max-width: 100%;
    height: auto;
    margin: 13px auto;
    border: #fff 0.3em solid;
    border-radius: 0.2em;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
}

article section p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

img.right {
    float: right;
    margin-left: 1em;
}
img.left {
    float: left;
    margin-right: 1em;
}

article section table th {
    background-color: #dfdfdf;
    border: 1px solid #aaa;
    padding: 2px 5px;
}
article section table td {
    border: 1px solid #aaa;
    padding: 2px 5px;
}

.table-cells {
    border-spacing: 1px;
}
.table-cells th {
    background-color: #dfdfdf;
}
.table-cells th, .table-cells td {
    border: 1px solid #aaa;
    padding: 2px;
}

table.no-border, table.no-border td {
    border: 0;
}

.ar {
    text-align: right;
}
.good1 { background-color: #70ff70; }
.good2 { background-color: #c0ffc0; }
.good3 { background-color: #e0ffe0; }

.bad1 { background-color: #ff7070; }
.bad2 { background-color: #ffc0c0; }
.bad3 { background-color: #ffe0e0; }
